@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans" !important;
}

p {
  @apply text-gray-500 dark:text-gray-400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-headtxt dark:text-white;
}

nav {
  @apply bg-primary dark:bg-darkcomp;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  @apply flex flex-col-reverse md:flex-row h-screen w-screen overflow-y-scroll;
}

.main {
  @apply flex flex-col flex-grow p-4 dark:bg-darkbg w-full;
}

.nav {
  @apply flex flex-row md:flex-col flex-wrap items-center md:justify-between p-2 md:p-4 md:gap-2 w-full md:h-full md:w-24  
  md:items-center;
}

.navlist {
  @apply flex flex-row md:flex-col items-center gap-2 bg-transparent justify-around w-full md:w-auto mr-4 md:mr-0;
}

.navlink {
  @apply flex flex-col items-center justify-center w-12 h-12 md:w-16 md:h-16 p-2 rounded-lg transition duration-500 ease-in-out text-white hover:text-gray-700 hover:bg-white hover:shadow-lg;
}

.logout {
  @apply flex flex-row md:flex-col items-center justify-center w-full md:w-16 md:h-16 p-2 rounded-lg transition duration-500 ease-in-out text-white hover:text-red-600 hover:bg-white gap-2;
}

.active {
  @apply bg-white text-secondary hover:text-secondary;
}

.box {
  @apply bg-white dark:bg-darkcomp rounded-lg;
}

.card {
  @apply bg-lightbg text-lighttxt flex flex-col items-center  border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-white dark:border-gray-700;
}

.h-ten {
  /* height: 11vh; */
}

.h-half {
  /* height: 55vh; */
}
.h-eighty {
  /* height: 85vh; */
}
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e2e2;
} */
.courseComponent {
  @apply h-full overflow-hidden dark:bg-transparent bg-gray-200 rounded-lg w-full
}
.courseFlex {
  @apply flex w-full gap-4 h-full bg-gray-200 mt-4 rounded-lg dark:bg-darkbg
}
.courseLeft {
  @apply w-full rounded-md bg-white h-eighty overflow-y-auto drop-shadow-xl p-6 dark:bg-darkcomp;
}
.courseRight {
  @apply w-4/12 rounded-md bg-white h-full drop-shadow-xl h-eighty
}

.details {
  @apply flex gap-5 bg-[#99999910] w-full p-2.5
}

.change-password {
  @apply flex gap-5 mt-5;
  flex-flow: column;
}
.change-password div {
  @apply flex gap-2.5;
  flex-flow: column;
}
.change-password span {
  @apply ml-auto hover:cursor-pointer;
}
.change-password-button {
  @apply inline hover:cursor-pointer;
}
.change-password div:focus {
  outline: 1px solid var(--first-color-linear);
}
.user-password .password:hover svg {
  @apply text-[color:var(--first-color-linear)];
}
.change-password div:hover svg {
  @apply text-[color:var(--first-color-linear)];
}
.change-password div span:hover {
  @apply text-[white];
}
.change-password-button {
  @apply inline hover:cursor-pointer;
}

.grid-2d {
  @apply grid grid-cols-1 grid-rows-2 md:grid-cols-3  md:grid-rows-1  gap-4;
}

.card-buttons-container {
  @apply flex justify-end gap-2.5;
  flex-flow: row !important;
}
.card-buttons-container button {
  @apply cursor-pointer font-[bold] text-[white] transition-[0.5s] min-w-[60px] px-2.5 py-[7px] rounded-[5px] border-0 hover:transition-[0.5s] hover:scale-105 first:bg-[#1fae51] last:bg-[gray];
}

.flex-container {
  display: flex;
  align-items: center;
}

.courseComponentMain {
  @apply h-full  dark:bg-transparent bg-gray-200 rounded-lg;
}
